ul {
  display: flex;
}

ul li {
  margin: 0 10px;
}

.skills li {
  background-color: gray;
  padding: 12px;
  border-radius: 3px;
  color: white;
}

.skills li:hover {
  background-color: rgb(56, 50, 50);
  cursor: pointer;
}
