.user {
  width: 300px;
  border: 1px solid gray;
  margin: 12px auto;
  padding: 8px;
  border-radius: 8px;
}
.user img {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  border-bottom: 1px solid gray;
}
